<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nearking_web">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ProfileActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b3dcf6ab37e676eb7c0fd95109065a013af89894" />

        <activity
            android:name=".Activity.NearKingNavigation"
            android:label="@string/title_activity_near_king_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.NearKingHome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SignInSignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AllCategoryList_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ProductList_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SubCategory_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ProductDetails_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CategoryProduct_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NearKing.MyAccount_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AddCart_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.PlaceOrder_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.OrderComplete_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.BuyNow_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.PaymentDetails_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>